<div class="">
  <h1>Add new friend</h1>

  <form class="" action="/friends" accept-charset="UTF-8" method="post" data-remote="true">
    <div class="form-element">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
      <label for="friend_name">Email</label>
      <input type="text" name="friend[email]" id="friend_name">
      <% if @err %>
        <div>
          <%= @err[:msg] %>
        </div>
      <% end %>

    </div>
    <div class="submit">
      <input type="submit" name="commit" value="Add Friend" >
    </div></form>
</div>
