<div class="title-container">
  <div class="title">
    <h1>
      Friends
    </h1>
</div>
</div>
<h1>Hello world</h1>
<%= render "form" %>

<ul id="errors" class="errors">

</ul>
<div class="container">
<div class="friends-list">
  <ul>

  <ul id="friends">
    <%= render @friends , :locals => {:isHide => false}%>
  </ul>
</ul>
</div>
</div>

