<div class="title-container">
    <div class="title">
        <h1>
            Friends
        </h1>
    </div>
</div>

<%= render "form" %>

<ul id="errors" class="errors">

</ul>
<div class="container">
    <div class="friends-list">
        <ul>

            <ul id="friends" style="list-style-type: none">
                <%= render @friends , :locals => {:isHide => false}%>
            </ul>
        </ul>
    </div>
</div>