<%= render "form" %>

<ul id="errors" class="errors">

</ul>

<div class="container">
    <div class="friends-list">
        <ul id="friends" style="list-style-type: none">
            <%= render @friends , :locals => {:isHide => false}%>
        </ul>
    </div>
</div>