<div class="container">
    <% @notifications.each do |notification| %>
    <div class="card text-center mb-5 border border-warning rounded">
        <div class="card-header bg-danger">
            <%= notification.notificationType %>
        </div>
        <div class="card-body">
            <p class="card-text"> <%= notification.body %></p>
        </div>
        <div class="card-footer text-muted">
            <%= notification.created_at.strftime('%Y-%m-%d') %>
        </div>
    </div>

    <% end %>
    </div>