<li>
  <%= group.name %>
  <span>|</span> <%= link_to "view members", group_members_path(group.id) , remote: true %>
  <span>|</span> <%= link_to "Delete", group, method: :delete, data: { confirm: "Are you sure?", remote: true },  class: "delete" %>
</li>