<li class="pt-2">
    <h3> <%= group.name %> </h3>
    <%= link_to "view members", group_members_path(group.id) , remote: true, class: "btn btn-primary" %>
    <%= link_to "Delete", group, method: :delete, data: { confirm: "Are you sure?", remote: true },  class: "delete btn btn-danger"%>
</li>
<br/>