<%= render "form" %>
<div id="group_errors">
</div>

<div class="row">
    <div class="col-sm">
        <h2 class="text-center"> My Groups:</h2>

        <ul id="groups" style="list-style-type:none" class="border">
            <%= render @groups, :locals => {:isHide => false}%>
        </ul>

    </div>
    <div class="col-sm">
        <div id="members">

        </div>
    </div>
</div>