.img-responsive{
  width: 200px;
  height: 200px;
  &:hover{
    animation-name: doubleSize;
    animation-fill-mode : forwards;
    animation-delay:0.3s;
    animation-timing-function: ease-out;
  }
}
@keyframes doubleSize {

  0% {
  }
  100% {
    position: absolute;
    bottom: 38%;
    border-radius: 20px;
    transform: scale(3.5);
    width: 400px;

  }
}