$light-gray1: #eae7e7;
@mixin fontSize () {
  font-size: 10rem;
}
*{
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box;
  //padding-top:6%;
}
html {
}
body{
  //background-color: #c0e3e3;
  background-image: linear-gradient(to bottom right,#c0e3e3 , lighten(#c0e3e3,10%));
  height: 100vh;

  //margin-left: 20vh;
}
.header{
  @include fontSize();
  padding: 5vh;
  background-color: #e5e5e5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.header-right{
  display: flex;
  justify-content: space-evenly;
align-self: flex-start;
  flex-basis: 40%;
}

.header-left{
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-basis: 40%;
  align-self: flex-end;
}
.content{
  @include fontSize();
  padding: 3vh;
}
.header{

  & a{
    display: flex;
    text-decoration: none;
    color: #666666;
    &:hover {
      background-color:#666666 ;
      color:white;
      animation-name: linkHover;
      animation-duration:0.5s;
      animation-fill-mode : forwards;
      animation-timing-function: ease-in-out;
    }
  }
}
@keyframes linkHover {
  // you give it style at specified time of the running of the animation  we can change opacity to be like fade out
  0% {

  }
100% { background-color:#666666;
  transform:scale(1.3);
}
}