<li>
<!--  <span><%#= @member.user.full_name %></span>-->
<!--  <span>whaaat</span>-->
  <%#= link_to "Destroy", group_member_path(member), method: :delete, data: { confirm: "Are you sure?" },remote:true , class:"delete"%>

  <%#= link_to "Destroy", friend_path(friend), method: :delete, data: { confirm: "Are you sure?" },remote:true , class:"delete"%>
</li>
<br>