$("#members").empty()

$("#members").append("<h1><%= @group.name %></h1>");
$("#members").append("<%= j render "form", locals: {isHide: false}   %>");
$("#members").append("<h1>Members</h1>");
$("#members").append("<ul id='errors' class='errors'>");


  <% @members.each do |member| %>
$("#members").append("<%= j render "member", id: member.id %>");
<%end %>
